.chat-container {
  flex: 0 1 67%;
  display: flex;
  flex-direction: column;

  .chat-content {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 28px;
    display: flex;
    flex-direction: column;

    .chat-search-container {
      margin: 0 0 28px 0;
      display: flex;
      align-content: center;

      .chat-search-icon {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50px;
        height: 50px;
        background: #ffffff;
        border: 2px solid #dbdbdb;
        border-right: none;
        box-sizing: border-box;
        border-radius: 5px 0 0 5px;
      }

      .chat-search-input {
        flex: 1;
        height: 50px;
        background: #ffffff;
        border: 2px solid #dbdbdb;
        border-left: none;
        box-sizing: border-box;
        border-radius: 0 5px 5px 0;
      }

      .logo {
        margin-left: 28px;
      }
    }

    h4 {
      margin: 0 0 10px 0;
      font-family: Roboto;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.15px;
      color: $grayText;
    }

    @import 'conversation_container';
  }
}
