.search-container {
  display: flex;
  align-content: center;
  margin: 28px 28px 0 28px;
  position: relative;

  .search-icon {
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .search-input {
    flex: 1;
    height: 60px;
    background: #ffffff;
    border: 2px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 35px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .logo {
    margin-left: 28px;
  }

  .home {
    display: none;
  }
}
