.side-bar {
  min-height: 100vh;
  width: 287px;
  display: flex;
  flex-direction: column;
  border-radius: 0 15px 15px 0;
  background: #ffffff;
  transition: width 0.4s;
  .nav-icon {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 10px 0;
    img {
      cursor: pointer;
      transition: 0.4s transform ease-in-out;
    }
  }

  .profile {
    display: flex;
    margin-left: 20px;

    .avatar-img {
      margin-right: 10px;
      align-self: center;
      cursor: pointer;
      background-blend-mode: normal;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    }

    .profile-content {
      display: flex;
      flex-direction: column;
      align-content: center;

      p {
        margin: 4px 0 4px 0;
        font-family: Carmen Sans;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: $blackText;
      }

      a {
        font-family: Roboto;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $pinkColor;
        text-decoration: none;
      }
    }
  }

  .main-menu {
    list-style: none;
    padding: 0;
    li {
      cursor: pointer;
      padding: 20px 0 20px 40px;
      display: flex;
      flex-direction: row;
      align-content: center;

      &:hover {
        background: #f9c5da;
        .content {
          color: $blackText;
          font-weight: bold;
        }
        svg path {
          fill: $pinkColor;
        }
      }
      .image {
        position: relative;
        .badge {
          position: absolute;
          width: 13px;
          height: 13px;
          left: 15px;
          top: 0px;
          background: $pinkColor;
          border-radius: 50%;
          font-family: Roboto;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
        }
      }

      .content {
        margin-left: 15px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: $grayText;
      }
      .active {
        color: $blackText;
        font-weight: bold;
      }
    }
  }

  .logout {
    cursor: pointer;
    margin-top: auto;
    display: flex;
    align-content: center;
    padding-left: 40px;
    margin-bottom: 25px;
    .content {
      margin-left: 15px;
      font-family: Roboto;
      font-size: 18px;
      line-height: 18px;
      color: $blackText;
      align-self: center;
    }
  }
}

.side-bar-minimized {
  width: 95px !important;

  .nav-icon {
    justify-content: center;
    margin-right: 0;
    img {
      transform: rotate(-180deg) !important;
    }
  }
  .profile {
    .profile-content {
      display: none !important;
    }
  }
  .main-menu {
    display: flex;
    flex-direction: column;
    li {
      width: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      padding-left: 0 !important;

      .content {
        display: none !important;
      }
    }
  }
  .logout {
    padding: 0;
    display: flex;
    justify-content: center;
    .content {
      display: none !important;
    }
  }
}
