@font-face {
  font-family: 'Carmen Sans';
  src: local("Carmen Sans"), url("../../fonts/Carmen Sans Medium.otf");
}

html body {
  font-family: 'Carmen Sans';
  font-style: normal;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #e5e5e5;
}

html body .container {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .side-bar {
  min-height: 100vh;
  width: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 15px 15px 0;
  background: #ffffff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

html body .container .side-bar .nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px 10px 10px 0;
}

html body .container .side-bar .nav-icon img {
  cursor: pointer;
  -webkit-transition: 0.4s -webkit-transform ease-in-out;
  transition: 0.4s -webkit-transform ease-in-out;
  transition: 0.4s transform ease-in-out;
  transition: 0.4s transform ease-in-out, 0.4s -webkit-transform ease-in-out;
}

html body .container .side-bar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}

html body .container .side-bar .profile .avatar-img {
  margin-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  background-blend-mode: normal;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 50%;
}

html body .container .side-bar .profile .profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .side-bar .profile .profile-content p {
  margin: 4px 0 4px 0;
  font-family: 'Carmen Sans';
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #262626;
}

html body .container .side-bar .profile .profile-content a {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #d75f8d;
  text-decoration: none;
}

html body .container .side-bar .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

html body .container .side-bar .main-menu li {
  cursor: pointer;
  padding: 20px 0 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

html body .container .side-bar .main-menu li:hover {
  background: #f9c5da;
}

html body .container .side-bar .main-menu li:hover .content {
  color: #262626;
  font-weight: 500;
}

html body .container .side-bar .main-menu li:hover svg path {
  fill: #d75f8d;
}

html body .container .side-bar .main-menu li .image {
  position: relative;
}

html body .container .side-bar .main-menu li .image .badge {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 15px;
  top: 0px;
  background: #d75f8d;
  border-radius: 50%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

html body .container .side-bar .main-menu li .content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #747474;
}

html body .container .side-bar .main-menu li .active {
  color: #262626;
  font-weight: 500;
}

html body .container .side-bar .logout {
  cursor: pointer;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 40px;
  margin-bottom: 25px;
}

html body .container .side-bar .logout .content {
  margin-left: 15px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #262626;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html body .container .side-bar-minimized {
  width: 95px !important;
}

html body .container .side-bar-minimized .nav-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0;
}

html body .container .side-bar-minimized .nav-icon img {
  -webkit-transform: rotate(-180deg) !important;
          transform: rotate(-180deg) !important;
}

html body .container .side-bar-minimized .profile {
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .container .side-bar-minimized .profile .avatar-img {
  margin-right: 0;
}

html body .container .side-bar-minimized .profile .profile-content {
  display: none !important;
}

html body .container .side-bar-minimized .main-menu li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0 !important;
}

html body .container .side-bar-minimized .main-menu li .content {
  display: none !important;
}

html body .container .side-bar-minimized .logout {
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .container .side-bar-minimized .logout .content {
  display: none !important;
}

html body .container .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.16);
  border-radius: 0 0 30px 30px;
}

html body .container .mobile-menu .menu-icon,
html body .container .mobile-menu .logo-icon,
html body .container .mobile-menu .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .container .mobile-menu .menu-icon img {
  margin-left: 15px;
}

html body .container .mobile-menu .logo-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .container .mobile-menu .avatar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body .container .mobile-menu .avatar .box {
  width: 53px;
  height: 52px;
  border: 2px solid #d75f8d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
  margin-right: 20px;
}

html body .container .mobile-menu .avatar .box img {
  margin-top: 3px;
}

html body .container .responsive {
  display: none;
  width: 95px;
}

html body .container .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .main p {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: #000000;
}

html body .container .main .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 28px 28px 0 28px;
  position: relative;
}

html body .container .main .search-container .search-icon {
  position: absolute;
  top: 20px;
  left: 10px;
}

html body .container .main .search-container .search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 60px;
  background: #ffffff;
  border: 2px solid #dbdbdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding-left: 35px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

html body .container .main .search-container .logo {
  margin-left: 28px;
}

html body .container .main .search-container .home {
  display: none;
}

html body .container .main .mobile-search {
  margin: 0 28px;
  display: none;
}

html body .container .main .mobile-search input {
  width: 100%;
  height: 60px;
  background: #ffffff;
  border: 2px solid #dbdbdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

html body .container .main .main-content {
  margin: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .main .main-content .chat-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65.9%;
          flex: 0 1 65.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .main .main-content .chat-container .chat-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .main .main-content .chat-container .chat-content .chat-search-container {
  margin: 0 0 28px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 100%;
}

html body .container .main .main-content .chat-container .chat-content .chat-search-container .chat-search-icon {
  position: absolute;
  top: 15px;
  left: 10px;
}

html body .container .main .main-content .chat-container .chat-content .chat-search-container .chat-search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  height: 50px;
  background: #ffffff;
  border: 2px solid #dbdbdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding-left: 35px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

html body .container .main .main-content .chat-container .chat-content .chat-search-container .logo {
  margin-left: 28px;
}

html body .container .main .main-content .chat-container .chat-content h4 {
  margin: 0 0 10px 0;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
  color: #747474;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container img {
  border-radius: 50%;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .user-avatar {
  min-width: 53px;
  position: relative;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .user-avatar .second-avatar {
  position: absolute;
  top: 6px;
  left: 12px;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .user-avatar .actived-badge {
  content: ' ';
  background: #34d377;
  border-radius: 50%;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0;
  left: 36px;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .user-avatar .badge {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 29px;
  left: 36px;
  background: #d75f8d;
  border-radius: 50%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5px;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .message-container .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .message-container .name-container div {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: #262626;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .message-container .name-container h4 {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .message-container h4 {
  margin: 0;
  font-weight: 400;
}

html body .container .main .main-content .chat-container .chat-content .conversation-container .message-container .message {
  width: 65%;
}

html body .container .main .main-content .reminder-container {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 28px;
}

html body .container .main .main-content .reminder-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .main .main-content .reminder-container .text-container a {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  color: #d75f8d;
  text-decoration: none;
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

html body .container .main .main-content .reminder-container .available-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 28px;
}

html body .container .main .main-content .reminder-container .available-events .date-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e28bae;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px 0 0 5px;
  width: 66px;
}

html body .container .main .main-content .reminder-container .available-events .date-content div {
  text-align: center;
  color: #ffffff;
}

html body .container .main .main-content .reminder-container .available-events .date-content .day {
  font-weight: 700;
  font-size: 22px;
  line-height: 18px;
}

html body .container .main .main-content .reminder-container .available-events .date-content .month {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-top: 3px;
}

html body .container .main .main-content .reminder-container .available-events .event-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.15px;
}

html body .container .main .main-content .reminder-container .available-events .event-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
}

html body .container .main .main-content .reminder-container .featured-event {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

html body .container .main .main-content .reminder-container .featured-event .content {
  margin: 20px;
}

html body .container .main .main-content .reminder-container .featured-event .content p,
html body .container .main .main-content .reminder-container .featured-event .content h4 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #828282;
}

html body .container .main .main-content .reminder-container .featured-event .content p {
  font-weight: 500;
}

html body .container .main .main-content .reminder-container .featured-event .content h4 {
  font-weight: normal;
  margin: 0;
}

html body .container .main .main-content .reminder-container .featured-event .content div {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 25px;
  line-height: 21px;
  margin-bottom: 10px;
  margin-top: 5px;
  letter-spacing: 0.25px;
}

html body .container .main .main-content .reminder-container .featured-event .content button {
  cursor: pointer;
  margin-top: 10px;
  height: 50px;
  padding: 0 25px;
  background: #d75f8d;
  border-radius: 40px;
  border: none;
  -webkit-box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

html body .container .main .community-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 28px 28px 28px;
}

html body .container .main .community-container .community-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .main .community-container .community-content .image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 28px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .main .community-container .community-content .image img {
  border-radius: 5px;
}

html body .container .main .community-container .community-content .image div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 18px;
  max-width: 60%;
  background: #e28bae;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1vw;
  letter-spacing: 0.15px;
  color: #ffffff;
  border-radius: 0 25px 0 5px;
  -webkit-border-radius: 0 25px 0 5px;
  -moz-border-radius: 0 25px 0 5px;
  -ms-border-radius: 0 25px 0 5px;
  -o-border-radius: 0 25px 0 5px;
}

html body .container .main .community-container .community-content .last-image {
  margin-right: 0;
}

@media only screen and (max-width: 850px) {
  html body .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .container .side-bar {
    width: 100%;
    z-index: auto;
    position: relative;
    display: none;
  }
  html body .container .side-bar-minimized {
    width: 0 !important;
  }
  html body .container .search-container {
    margin-bottom: 10px !important;
  }
  html body .container .search-container .home {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 34px;
    line-height: 18px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #262626;
    display: block !important;
  }
  html body .container .search-container .search-icon {
    cursor: pointer;
    width: 20px !important;
    margin-left: auto !important;
    position: relative !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    top: 0 !important;
    left: 0 !important;
  }
  html body .container .search-container .search-input {
    display: none;
  }
  html body .container .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .container .main-content .reminder-container {
    margin-left: 0 !important;
    margin-top: 28px;
  }
  html body .container .community-container .community-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .container .community-container .community-content .image {
    margin-right: 0 !important;
    margin-top: 28px;
  }
  html body .container .community-container .community-content .image div {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1400px) {
  body .container .side-bar {
    position: fixed;
    z-index: 1;
  }
  body .container .responsive {
    display: block !important;
  }
}

@media only screen and (min-width: 850px) {
  body .container .side-bar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  body .container .mobile-search {
    display: none !important;
  }
  body .container .mobile-menu {
    display: none !important;
  }
  body .container .main {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
/*# sourceMappingURL=style.css.map */